* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.footer, .about-container, .about-container .social-container .social-icons, .title, .quick-container, .contact-container, .contact-list, .contact-tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body-container {
  width: 100%;
  min-height: 25rem;
}

.footer {
  width: 100%;
  min-height: 22rem;
  background: #0b090a;
  background: -webkit-gradient(linear, right top, left bottom, from(#0b090a), to(#50514f));
  background: linear-gradient(to bottom left, #0b090a, #50514f);
}

.footer-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 0.5fr;
      grid-template-columns: 1fr 1fr 1fr 0.5fr;
  row-gap: 20px;
  padding: 20px;
  margin: 0.5rem;
  width: 100%;
  height: 50%;
}

.about-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 1rem;
  width: 80%;
  height: 100%;
}

.about-container .about-body {
  margin: 20px 5px;
  padding: 10px 5px;
}

.about-container .about-body p {
  color: #ced4da;
}

.about-container .social-container {
  width: 100%;
}

.about-container .social-container .social-icons {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin: 10px;
  padding-top: 20px;
  list-style: none;
}

.about-container .social-container .social-icons li {
  margin: 10px;
  padding: 10px;
}

.body {
  margin: 10px;
  padding: 10px;
}

.title {
  width: 100%;
  margin: 5px;
  padding-bottom: 10px;
  position: relative;
}

.title ::after {
  content: "";
  width: 10%;
  border-bottom: solid 2px #e63946;
  position: absolute;
  bottom: 0;
  left: 0;
}

.title h2 {
  width: 100%;
  text-align: left;
  color: #f7fff7;
}

.icon {
  color: #ced4da;
  border-radius: 10px;
  -webkit-box-shadow: inset -3px -3px 10px -3px #ced4da, 2px 2px 10px -1px #ced4da;
          box-shadow: inset -3px -3px 10px -3px #ced4da, 2px 2px 10px -1px #ced4da;
}

.icon:hover {
  color: #e63946;
  -webkit-box-shadow: 0 20px 10px -3px #ced4da;
          box-shadow: 0 20px 10px -3px #ced4da;
}

.quick-container, .contact-container {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  margin: 5px;
  padding: 10px;
}

.quick-container ul, .contact-container ul {
  list-style: none;
  width: 100%;
}

.quick-container ul li, .contact-container ul li {
  margin: 5px 0;
  padding: 5px;
}

.quick-container ul li a, .contact-container ul li a {
  text-decoration: none;
  color: #ced4da;
}

.quick-container ul li a:hover, .contact-container ul li a:hover {
  color: #f7fff7;
}

.contact-icon {
  margin-right: 10px;
  color: #ced4da;
  height: 100%;
  justify-self: flex-start;
}

.contact-list {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 60%;
  margin: 10px 5px;
  padding: 10px;
}

.contact-tel {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 900px) {
  .footer-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 550px) {
  .footer-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=index.css.map */